table,
td {
    border:none
}

.table {
    background-color: aqua;

}

.header {
    background-color: beige;
}

.product {
    cursor: pointer;
}

.product:hover {
    background-color: blueviolet;
}

.product.select {
    background-color: green;
}
#buy {
    cursor: pointer;
}